@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts  */
  --font-reqaa: "Aref Ruqaa", "serif";
  --font-tajawal: "Tajawal", sans-serif;

  /* Colors */
  --color-accent-main: #ceb597;
  --color-accent-dark: #724742;
  --color-accent-dark-2: #5e3b37;
  --color-secondary: #b39a7e;
  --color-main-text: #3c3635;
  --color-secondary-text-light: #f2dfc7;
  --color-accent-main-light: #dec8ad;

}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--color-accent-main);
  color: var(--color-white);
}
body {
  font-family: var(--font-tajawal);
  color: var(--color-main-text);
  direction: rtl;
}

.main-hover {
  @apply opacity-90 hover:opacity-100 transition-opacity duration-300;
}
