@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts  */
  --font-reqaa: "Aref Ruqaa", "serif";
  --font-tajawal: "Tajawal", sans-serif;

  /* Colors */
  --color-accent-main: #ceb597;
  --color-accent-dark: #724742;
  --color-accent-dark-2: #5e3b37;
  --color-secondary: #b39a7e;
  --color-main-text: #3c3635;
  --color-secondary-text-light: #f2dfc7;
  --color-accent-main-light: #dec8ad;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--color-accent-main);
  color: var(--color-white);
}
body {
  font-family: var(--font-tajawal);
  color: var(--color-main-text);
  direction: rtl;
}

.main-hover {
  @apply opacity-90 hover:opacity-100 transition-opacity duration-300;
}

.hero-sec {
  background-color: var(--color-accent-dark-2);
}
#about,
.hero-sec,
#categories {
  background-image: url("/images/background-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#quote {
  background-image: url("/images/quote-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  margin: 2.8rem auto;
}
#card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* #cart-items {
  scrollbar-track-color: var(--color-accent-main-light);
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-main) var(--color-accent-main-light);
} */
#cart-items::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-accent-main-light);
}
#cart-items::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-dark-2);
  border-radius: 10px;
  width: 5px;
}
#cart-item:not(:last-child) {
  border-bottom: 1px solid var(--color-accent-main-light);
}
